#showcase {
  height: 100%;
}
#showcase .showcase-content {
  padding-top: 70px;
}
#showcase .showcase-content p {
  line-height: 1.7em;
  padding-bottom: 10px;
}
.btn {
  margin-bottom: 30px;
}
/* Navbar */
#navbar .logo {
  float: none;
  text-align: center;
  padding-bottom: 10px;
}
#navbar ul,#navbar ul li {
  float: none;
  width: 100%;
}
#navbar li a {
  padding: 5px;
  border-bottom: #444 1px dotted;
}
/* Home-info */
#home-info .info-img {
  display: none;
}
#home-info .info-content {
  float: none;
  width: 100%;
}
#home-info {
  height: 100%;
}
.box {
  float: none;
  width: 100%;
}
/* About */
#about-info .info-right {
  float: none;
  width: 100%;
}
#about-info .info-left {
  float: none;
  width: 100%;
}
.l-heading {
  text-align: center;
}
#about-info .info-right {
  margin-top: 30px;
} 
/* Contact-info */
#contact-info .box {
  border-bottom: #444 3px dotted;
}
